html {
    height: auto;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    // text-shadow: rgba(0, 0, 0, .01) 0 0 1px !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
    --wails-draggable: drag;
}

html,
html a {
    background-color: $body-dark-bg;
}

body {
    height: auto;
    background-color: $body-bg;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 500;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    * {
        outline: none !important;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.toast {
    border-radius: 0px !important;
    background-color: $notification-bg !important;
    box-shadow: 1px 2px 8px 5px #000000c4 !important;
    color: white !important;
    padding: 0px !important;
    min-width: 220px !important;
    border: 1px solid grey;
    padding: 10px !important;

    :first-child {
        margin: 0px !important;
    }
}

.exit-confirm {
    text-align: center;
    min-width: 220px !important;

    .text {
        padding: 5px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-big {
        // margin-top: 5px;
        font-size: 1.2em;
        padding: 5px;

    }

    .cancel {
        background-color: $notification-bg;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 50%;
        color: $c-teal;
        font-size: 1em !important;
    }

    .cancel:hover {
        text-decoration: underline;
    }

    .exit {
        width: 50%;
        padding-top: 8px;
        border: none;
        background-color: $notification-bg;
        color: $c-red;
        font-size: 1em !important;
    }

    .exit:hover {
        text-decoration: underline;
    }

}


.exception-title {
    margin: auto;
    margin-top: 100px;
    // position: absolute;
    // left: calc(50% - 400px);
    width: 800px;
    font-size: 2em;

    border-radius: 20px;
}

.exception-button {
    margin-top: 30px;
    position: absolute;
    left: calc(50% - 112px);
    width: 224px;
    font-size: 2em;

    border-radius: 20px;
    cursor: pointer;
}

.exception2-button {
    margin-top: 80px;
    position: absolute;
    left: calc(50% - 112px);
    width: 224px;
    font-size: 2em;

    border-radius: 20px;
    cursor: pointer;
}


#border {
    // z-index: 1001;
    // width: calc(100vw);
    // position: absolute;
    // height: calc(100vh);
    // pointer-events: none;
    // border: 2px solid $body-border-color;
    // position: fixed;
    // top: 0px;
    // left: 0px;
}

// TOP BAR = 1001
// SIDE BAR = 1000
// CONTENT-container = 3
// PORTAL CONTAINER =  2
// WORLD MAP =  1

// .logs-link {
//     font-size: 1em;
//     color: blue;
//     height: 30px;
//     width: 100px;
//     position: absolute;
//     right: 30px;
//     bottom: 20px;
//     z-index: 1100;
//     cursor: pointer;

// }

#app {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.stats-bar::-webkit-scrollbar {
    display: none;
}

.stats-bar {
    overflow-x: hidden;
    height: 100%;
    width: $sidebar-width;
    z-index: 1002;
    left: 0px;
    // top: 22px;
    background: $menu-background;
    opacity: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .back {

        cursor: pointer;
        width: 95%;
        margin-top: 27px;
        margin-left: 10px;

        .icon {
            float: left;
            margin-top: 5px;
        }

        .text {
            float: left;
            margin-left: 10px;
        }
    }

    .title {
        font-size: 1.1em;
        color: $c-teal;
        margin-bottom: -2px;
        padding-left: 10px;
        margin-top: 10px;

        .icon {
            float: left;
        }

        .text {
            float: left;
            margin-left: 10px;
        }
    }

    .stats-item {
        padding-left: 10px;
        margin-bottom: -2px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 0.8em;

        .label {
            color: $c-orange;
        }

        .value {
            margin-left: 10px;
            padding-right: 10px;
            word-break: break-all;
            text-align: right;
            flex-grow: 1;
        }
    }

}

.side-bar::-webkit-scrollbar {
    display: none;
}

.popover-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;

    .popover {
        // margin-top: 20px;
        padding: 10px;
        color: $popover-color;
        border: $popover-border;
        background-color: $popover-background;
        opacity: 1;

        font-size: 0.9em;

        text-align: center;
        z-index: 2000;
        // height: 100px;
        position: relative;

        a:hover {
            text-decoration: underline;
        }

        a {
            z-index: 3001;
            position: relative;
            text-align: center;
            color: $c-orange;
            cursor: pointer;
        }
    }
}

.side-bar {
    overflow-x: hidden;
    height: 100%;
    width: $sidebar-width;
    z-index: 1002;
    position: relative;
    left: 0px;
    // top: 22px;
    background: $menu-background;
    // opacity: 1;
    overflow-y: scroll;

    .loader-wrapper {
        width: 120px;
        height: 127px;
        padding-top: 35px;
        padding-left: 25px;
        // float: left;
        z-index: 5000 !important;

        .loader {
            color: $c-orange !important;
            z-index: 5000 !important;
            // height: 100%;
            // width: 100%;
        }
    }

    .logo {
        position: relative;
        width: 120px;
        height: 127px;
        left: 20px;
        top: 40px;

        background-image: url('../images/nl-logo.svg') !important;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .disconnect {
        margin-top: 3px;
    }

    .login {
        margin-top: 3px;
    }

    .vpns {
        margin-top: 3px;
    }

    .routers {
        margin-top: 3px;
    }

    .stats {
        margin-top: 3px;
    }

    .logs {
        margin-top: 3px;
    }

    .settings {
        margin-top: 4px;
    }

    .help {
        margin-top: 6px;
    }

    .logout {
        margin-top: 3px;
    }




    .menu-items {
        position: relative;
        top: 55px;
        left: 0px;
        margin-left: 15px;

        .menu-link {
            margin-bottom: 0px;
            width: 100%;
            height: 45px;
            text-align: left;

            font-size: 1.4em;

            padding-top: 9px;
            // padding-left: 28px;
            box-sizing: border-box;

            background: none;
            border-radius: 0px 19px 19px 0px;
            cursor: pointer;
        }

        // .menu-link:hover {
        //     background: $menu-background-hover;
        //     box-shadow: $menu-shadow-hover;
        // }
        .menu-link:hover {
            .menu-text {
                color: $c-teal-hover;
                // text-decoration: underline;
                // text-decoration-color: $c-teal;
                // text-decoration-thickness: 3px;
            }

            .logout,
            .disconnect {
                color: $error-color;
                // text-decoration-color: $error-color !important;
            }

        }

        .menu-active {
            .menu-text {
                color: $c-teal;
                // text-decoration: underline;
                // text-decoration-color: $c-teal;
                // text-decoration-thickness: 3px;

            }

            // background: $menu-background-hover;
        }

        .menu-text {
            float: left;
            margin-left: 10px;
        }

        .menu-list-icon {
            float: left;
        }




    }


}



.fake-bg {
    background: $body-dark-bg;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.world-map-bg {
    background-image: url('../images/worldmap.png') !important;
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    // top: 150px;
    left: 0;
    z-index: 1;
    background-size: 100% 100%;
    // opacity: 0.9;
}

.topbar {
    z-index: 1001;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 20px;
    background: $top-bar-bg;
    // border-bottom: 1px solid rgba(32, 201, 150, 0.226);
    // border: 1px solid rgba(177, 177, 177, 0.226);

    .drag-area {
        height: 20px;
        width: 90%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 10px;
        color: yellow;
    }

    .icon {
        cursor: pointer;
        z-index: 1002;
        position: relative;
        float: right;
        margin-right: 7px;
        top: 10px;
        // opacity: 0.99;
    }

    .close {}


}



.content-container {
    animation-name: fade;
    animation-duration: 0.5s;
    position: fixed;
    height: 100%;
    width: calc(100% - $sidebar-width);
    z-index: 5;
    top: 20px;
    left: $sidebar-width;
    overflow: scroll;

}

.content-container::-webkit-scrollbar {
    display: none;
}

.form-logo {
    position: absolute;
    width: 204px;
    height: 211px;
    left: calc(50% - 204px/2);
    // left: 20px;
    top: 20px;

    background-image: url('../images/logo.png') !important;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.icon-button {
    cursor: pointer;
    margin-top: 12px;
    height: 65px;
    width: 65px;
}

.anon-button {
    background-image: url('../images/anon-lightblue.png') !important;
    background-repeat: no-repeat;
    background-size: contain;

}

.anon-button:hover {
    background-image: url('../images/anon-teal.png') !important;
}

.anon-icon {}

button {
    height: fit-content; // height: 45px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;

    border-radius: 5px;
    border: none;
    outline: none;

    font-family: 'Poppins', 'system-ui';
    font-size: 2em !important;
    font-weight: bold;
    color: white;
    background: none;

    cursor: pointer;
}


.form {
    background-color: $main-bg-color;
    width: 400px;
    margin-left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;

    .warning {
        padding-inline: 20px;
        color: $c-orange;
    }

    .input {
        // flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // flex-flow: column wrap;
        width: 300px;
        flex-wrap: wrap;

        // height: 40px;

        .error {
            color: $error-color;
            text-align: left !important;
            // width: fit-content;
            min-width: 300px;
            margin-left: 100px;
            margin-top: -5px;
            margin-bottom: -20px;
            padding: 0px;

        }


        input {
            min-width: 250px;
            flex-wrap: nowrap;
            margin-left: 5px;
            height: 22px;
            font-size: 1em;
            color: white !important;
            border: none;
            background: none;
            border-bottom: 1px solid $c-teal;
        }

        input:focus {
            border-bottom: 1px solid $c-teal;
        }

        input::placeholder {
            color: gray;
        }

        .icon {
            flex-wrap: nowrap;
        }

    }

    .buttons {
        display: flex;
        flex-direction: row;

        .icon-button {
            color: $c-lightblue;
            margin-left: 15px;
        }

        .icon-button:hover {
            color: $c-teal-hover;
        }

        .ok-button {
            background: $c-teal;
        }

        .ok-button:hover {
            background: $c-teal-hover;
        }

        .neutral-button {
            background: $c-lightblue;
        }

        .neutral-button:hover {
            background: $c-teal-hover;
        }


    }

    .get-code-button {
        color: $c-lightblue;
        cursor: pointer;
    }

    .get-code-button:hover {
        color: $c-teal-hover;
    }

    .color-ok {
        color: $c-teal;
    }

    .color-neutral {
        color: $c-lightblue;
    }

    .color-cancel {
        color: $c-orange;
    }

    .color-error {
        color: $error-color;
    }


}

.login-options {
    display: flex;
    flex-direction: column;
    z-index: 3;

    width: 400px;
    margin-left: calc(50% - 200px);
    height: fit-content;
    width: 100%;
    padding: 20px;

    button {
        margin-top: 5px !important;
        font-size: 1em !important;
        height: 20px !important;
        color: $c-lightblue;
        font-weight: normal;
        border: none !important;
        background: none !important;
    }

    button:hover {
        color: $c-teal-hover;
    }

}

.login-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    margin-top: 50px;
}

.reset-wrapper {

    .error {
        width: max-content;
        min-width: 100px;
        background: rgba(160, 38, 38, 0.829) no-repeat scroll 12px 12px;
        // background-image: url("../images/error.svg");
        border-radius: 35px 0px 0px 35px;
        padding: 5px;
        padding-right: 15px;
        padding-left: 25px;
    }

    .email-error {
        position: absolute;
        top: 65px;
        left: 326px;
    }

    .password-error {
        position: absolute;
        top: 120px;
        left: 326px;
    }

    .password2-error {
        position: absolute;
        top: 172px;
        left: 326px;
    }

    .code-error {
        position: absolute;
        top: 229px;
        left: 326px;
    }

    .reset-form {
        z-index: 3;
        position: absolute;
        width: 400px;
        height: 420px;
        left: calc(50% - 220px);
        top: 100px;


        background: rgba(21, 24, 28, 0.9);



        .pass2-input {
            top: 160px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .code-input {
            top: 214px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .confirm-button {
            position: absolute;
            width: 177px;
            height: 44px;
            left: calc(50% - 177px/2 - 0.5px);
            bottom: 20px;

            background: $c-teal;
        }

        .request-button {
            width: 222px;
            height: 44px;
            background: $c-lightblue;
            font-size: 1.4em !important;
            position: absolute;
            bottom: 80px;
            left: 85px;
        }

    }

}

.register-wrapper {
    .form-error {

        z-index: 3;
        position: absolute;
        width: 400px;
        height: auto;
        left: calc(50% - 400px/2);
        bottom: 530px;

        border: 1px solid #3D3D3D;
        border-radius: 20px;
        background: #101116;

        opacity: 0.8;
        padding: 20px;
        font-size: 1em;


    }

    .register-token-warning {
        z-index: 4;
        width: 400px;
        height: 110px;
        opacity: .9;
        color: $c-orange;
        // background: #101116;
        border-bottom: none;
        text-align: center;
        // border-top: 1px solid #3d3d3d;
        // border-left: 1px solid #3d3d3d;
        // border-right: 1px solid #3d3d3d;
        // border-radius: 20px;
        padding: 15px;
        position: absolute;
        top: 0px;
        left: calc(50% - 220px);
        font-size: 1.1em;

    }

    .register-form {
        z-index: 3;
        position: absolute;
        width: 400px;
        height: 460px;
        left: calc(50% - 220px);
        top: 70px;


        background: rgba(21, 24, 28, 0.9);

        .error {
            width: max-content;
            min-width: 100px;
            background: rgba(160, 38, 38, 0.829) no-repeat scroll 12px 12px;
            // background-image: url("../images/error.svg");
            border-radius: 35px 10px 10px 35px;
            padding: 5px;
            padding-right: 10px;
            padding-left: 25px;
        }


        .email-error {
            position: absolute;
            top: 65px;
            left: 326px;
        }

        .password-error {
            position: absolute;
            top: 119px;
            left: 326px;
        }

        .password2-error {
            position: absolute;
            top: 172px;
            left: 326px;
        }



        .email-input {
            top: 54px;
            background: url("../images/email_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .token-input {
            width: 320px !important;
            top: 54px;
            left: 42px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .pass-input {
            top: 107px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .pass2-input {
            top: 160px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }


        .code-input {
            top: 210px;
            background: url("../images/password_icon.png") no-repeat scroll 12px 20px;
            padding-left: 44px;
        }

        .token-button {
            position: absolute;
            width: 260px;
            height: 44px;
            left: 70px;
            bottom: 120px;

            background: $c-lightblue;
        }

        .register-button {
            position: absolute;
            width: 260px;
            height: 44px;
            left: 70px;
            bottom: 60px;

            background: $c-teal;
        }


    }

}


.server-wrapper {
    height: 100%;

    .spinner {
        margin-top: 200px;
        // width: 100px;
        margin-left: calc(50% - 150px);
    }

    .flag-bg {
        // filter: blur(10px);
        z-index: -1;
        opacity: 0.1;
        position: fixed;
        left: 230px;
        top: 18px;
        width: calc(100% - 200px);
    }

    .simple-connect-display {
        .flag {}
    }

    .simple-stats-bar {
        position: fixed;
        top: 43px;
        left: 500px;
        text-align: left;
        color: $c-teal;
        width: 300px;

        font-size: 1.2em;
    }

    .simple-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        position: absolute;
        left: 10px;
        top: 70px;

        width: fit-content;
        height: auto;
        margin-top: 00px;
        justify-content: left;

        .item:hover {
            // background: #49ffc827;

            .flag {

                // border: 3px solid $c-teal;
            }

            .code {
                // font-size: 1.1em !important;
                display: none;
            }

            .connect {
                display: block;
            }

            .disconnect {
                display: block !important;
            }

            .connected-flag {
                // border: 3px solid $c-red !important;
            }

        }

        .item {
            width: 120px;
            height: 126px;
            cursor: pointer;
            // border-radius: 10px;
            order: 0;
            margin-bottom: 25px;
            margin-left: 15px;
            margin-right: 15px;
            display: flex;
            position: relative;
            top: 0;
            left: 0;
            background: #47474a80;
            // background: rgba(23, 26, 30, 0.8);
            // box-shadow: 12px 17px 75px rgba(0, 0, 0, 0.25);

            .flag {
                box-sizing: border-box;
                width: 90px;
                height: auto;
                // border: 1px solid #000000;
                // border-radius: 10px;
                position: absolute;
                top: 18px;
                left: 15px;
                box-shadow: 0 4px 4px #00000040, 4px 4px 7px 1px #00000040;
            }

            .code {
                width: 121px;
                height: 30px;
                text-align: center;
                color: #fff;
                font-size: 1.2em;

                line-height: 1;
                position: absolute;
                top: 98px;
                left: 0;
            }

            .connected-flag {
                // border: 3px solid $c-teal !important;
            }

            .connected-text {
                color: $c-teal;
            }

            .connect {
                display: none;
                color: $c-teal;
            }

            .disconnect {
                display: none;
                color: $c-red;
            }
        }


    }



    .advanced-private {
        z-index: 1000;
        position: relative;
        margin-top: 0px !important;
    }

    .advanced-list-bottom-margin {
        padding-bottom: 200px;
    }

    .advanced-list {
        position: absolute;
        top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 780px;
        height: auto;
        margin-left: 20px;
        margin-top: 40px;

        opacity: 0.89;

        .server:nth-child(1) {
            padding-top: 10px !important;
            height: 24px !important;
        }

        .header {
            height: 36px;
            width: 100%;
            border-bottom: $list-header-border;
            padding-top: 8px;
            padding-bottom: 30px;
            // margin-bottom: 8px;

            .title {
                text-align: center;
                float: left;
                font-size: 1em;

                cursor: pointer;
            }

            .title .tooltiptext {
                // visibility: hidden;
                display: none;
                width: 200px;
                background-color: $tooltip-bg-color;
                color: #fff;
                text-align: center;
                padding: 10px;

                position: absolute;
                margin-left: -150px;
                margin-top: 25px;
                border: $tooltip-border;
                z-index: 2000;
            }

            .title:hover .tooltiptext {
                // visibility: visible;
                display: inline;
            }

            .tag {
                min-width: 180px;
                max-width: 180px;
                width: 140px;
                text-align: left;
                padding-left: 20px;
            }


            .ip {
                min-width: 120px;
                max-width: 120px;
                color: $c-orange;
            }

            .country {
                min-width: 120px !important;
                max-width: 120px !important;
            }

            .x3 {
                min-width: 75px;
                max-width: 75px
            }


        }

        .server:hover {
            background: $list-hover;
        }


        .is-connected {
            // border: 2px solid $c-teal-border !important;
            background: #2dbfa270 !important;
            // border-radius: 10px;

            .item {
                .ip {
                    margin-left: -2px;
                }

                .country {
                    margin-left: -2px;
                }
            }
        }

        .new-server {

            width: 50px !important;
            background: #00000000 !important;
            border: none !important;
            margin-bottom: 20px;

            .new {
                text-align: left;
                margin-left: 10px;
                font-size: 1em;

                font-size: 2.2em;
                color: $c-teal;
                cursor: pointer;
                width: 50px;

            }


        }

        .server {
            // border-bottom: $list-item-border;
            height: 30px;
            width: 100%;

            // background: #171A1E;
            padding-top: 6px;
            cursor: pointer;

            .country-flag {
                display: inline-block;
                width: 23px;
                margin-top: 3px;
                height: auto;
                vertical-align: middle;
                border: 0px solid #80808063;
                margin-left: 12px;
            }


            .item {
                text-align: center;
                float: left;
                font-size: 0.9em;

                .flag {
                    float: left;
                    width: 40px;
                }

                .text {
                    float: left;

                    width: 40px;
                    padding-top: 4px;
                }
            }




            .ip {
                min-width: 120px;
                max-width: 120px;
                text-align: left;
                padding-left: 20px;
            }

            .tag {
                color: $c-teal;
                width: auto;
                // height: 36px;
                min-width: 180px;
                max-width: 180px;
                text-align: left;
                /* justify-content: center; */
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 9px;
                margin-top: -10px;
                vertical-align: middle;
                padding-left: 20px;
                font-size: 1em;

                overflow: hidden;
                line-height: normal;
            }

            .tag-offline {
                // min-width: 340px;
                max-width: 340px;
            }

            .tag-offline:hover {
                text-decoration: underline;
            }

            .country {
                min-width: 120px;
                max-width: 120px;
                display: flex;
                justify-content: center;
                margin-top: -3px;
            }

            .offline-text {
                min-width: 120px;
                max-width: 120px;
                display: flex;
                float: left;
                justify-content: center;
                margin-top: -1px;
                font-size: 1em;
                color: $c-red;

            }

            .x3 {
                min-width: 75px;
                max-width: 75px;
            }

        }
    }
}


.router-wrapper {
    height: 100%;

    .automatic-button {
        top: 45px;
        position: fixed;
        color: orange;
        right: 33px;
        font-size: 1em;

        cursor: pointer;
    }


    .router-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // padding: 0px 0px 24px;

        // position: absolute;
        width: 780px;
        margin-left: 20px;
        height: auto;
        margin-top: 5px;


        opacity: 0.89;
        border-radius: 12px 12px 0px 0px;
        // border: 1px solid white;

        .server:nth-child(1) {
            padding-top: 10px !important;
            height: 24px !important;
        }

        .header {
            height: 36px;
            width: 100%;
            border-bottom: $list-header-border;
            padding-bottom: 0px;
            padding-top: 8px;
            padding-bottom: 30px;

            .title {
                text-align: center;
                float: left;
                font-size: 1em;
                cursor: pointer;
            }

            .title .tooltiptext {
                display: none;
                width: 200px;
                background-color: $tooltip-bg-color;
                color: #fff;
                text-align: center;
                padding: 10px;
                position: absolute;
                margin-left: -100px;
                margin-top: 25px;
                border: $tooltip-border;
                z-index: 2000;
            }

            .title:hover .tooltiptext {
                // visibility: visible;
                display: inline;
            }

            .ip {
                min-width: 180px;
                max-width: 180px;
                text-align: left;
                padding-left: 20px;
            }


            .x3 {
                min-width: 75px;
                max-width: 77px
            }


        }

        .server:hover {
            background: #49ffc827;

            // border: 1px solid $c-teal-border;
            .connect {
                display: block;
            }

        }

        .server:last-child {
            border: none;
            // border-radius: 0px 0px 12px 12px;
        }


        .server {
            // border-bottom: 1px solid rgba(128, 128, 128, 0.322);
            height: 30px;
            width: 100%;
            cursor: pointer;

            // background: #171A1E;
            padding-top: 6px;

            .country-item {
                padding-left: 10px;
                text-align: center !important;

                .flag {
                    height: 17px;
                    width: 30px;
                    // margin-left: 18px;
                    float: left;
                    margin-top: 4px;
                }

                .name {
                    float: left;
                    width: 30px;

                }
            }

            .item {
                text-align: center;
                float: left;
                font-size: 1em;

                .text {
                    float: left;

                    margin-left: 10px;
                    padding-top: 2px;
                }
            }

            .ip {
                min-width: 180px;
                max-width: 180px;

                color: $c-teal;
                text-align: left;
                padding-left: 20px;

            }





            .x3 {
                min-width: 75px;
                max-width: 75px;
            }

        }
    }
}

.payment-desc {
    text-align: center;
    // width: 100%;
    height: 55px;
    margin-top: 30px;

    a {
        width: 100%;
        text-decoration: none;
        font-size: 2em;
        color: $c-orange;
        text-align: center;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.payment-type {
    width: 100%;
    height: 55px;
    // border: 1px solid #fff;
    margin-top: 40px;

    .tab {

        cursor: pointer;
        width: 250px;
        text-align: center;
        height: 100%;
        float: left;
        font-size: 2em;
        padding: 5px;
        // padding-top: 10px;
        background: rgba(23, 26, 30, 0.568);
        border-radius: 10px;
        border: 3px solid #3D3D3D;
    }

    .tab:hover {
        // background: rgba(23, 26, 30, 0.9);
        border: 3px solid $c-teal;
    }

    .active {
        color: $c-teal;
        border: 3px solid $c-teal;
    }

    .monthly {}

    .onetime {
        margin-left: 2%;
    }
}

.sub-wrapper {

    height: auto;
    margin-top: 50px;
    padding-bottom: 1000px !important;
    margin-left: 2%;

    .special-title {
        font-size: 0.6em;
        margin-bottom: 5px;
        text-align: center;


    }

    .seperator-title {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 2em;
        margin-bottom: 40px;

    }

    .sub {

        cursor: pointer;
        margin-left: 20px;
        padding-top: 10px;
        float: left;
        width: 250px;
        height: auto;
        border: 1px solid #3D3D3D;
        // border-radius: 10px;
        background: rgba(23, 26, 30, 0.9);
        // border-radius: 20px;
        // padding-left: 18px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        min-height: 110px;
        max-width: 250px;

        .title {
            height: 30px;
            width: 100%;
            margin-top: 10px;
            /* justify-content: center; */
            text-align: center;

            font-size: 3em;
            float: left;
        }

        .desc {
            margin-top: 30px;
            color: $c-teal;
            float: left;
            width: 100%;
            text-align: center;
            font-size: 1.1em;
        }


    }

    .sub:hover {
        border: 1px solid $c-teal;

        .title {
            color: $c-teal;
            // font-size: 3.3em;
        }

    }

}

.settings-wrapper {
    height: auto;
    padding-bottom: 200px !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .update-routers {
        margin-top: 10px;
    }

    .seperator {
        margin-bottom: 10px;
        border-bottom: 1px solid white;
        margin-right: 10px;
    }

    .save-config {
        float: right !important;
        margin-left: 0px !important;
        margin-right: 20px;
        font-size: 1.2em !important;
    }


    .panel {
        margin-left: 20px;
        width: 250px;
        min-width: 250px;
        height: fit-content;
        border-radius: 0px;
        background: $main-bg-color;
        padding-left: 18px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .other-panel {
        width: 500px;
    }

    .text {
        position: relative;
        left: 58px;
        top: -18px;
        color: $c-orange;

    }

    .extra-space {
        margin-top: 30px !important;
    }

    .less-space {
        margin-top: -10px !important;
    }

    .header {
        height: 50px;
        width: 100%;
        padding-top: 15px;
        margin-bottom: 10px;

        .title {
            float: left;
            height: 30px;
            text-align: left;
            margin-left: 11px;
            font-size: 1em;
            margin-top: 10px;
        }

        .icon {
            color: $c-teal;
            float: left;
            margin-top: 4px;
            height: 30px;
            width: 30px;
        }

        // .account-icon {
        //     background: url("../images/account_icon.svg") no-repeat scroll 0px 0px;
        // }

        // .advanced-icon {
        //     background: url("../images/security_icon.svg") no-repeat scroll 0px 0px;

        // }

        // .other-icon {
        //     background: url("../images/logging_icon.svg") no-repeat scroll 0px 0px;
        // }
    }


    .input {
        box-sizing: border-box;

        color: white !important;

        margin-top: 5px;
        z-index: 1000;
        width: 200px;
        height: 24px;
        right: 20px;
        background: rgba(21, 24, 28, 0.34);
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(216, 216, 216, 0.16);
        border-radius: 0px;
        padding-top: 6px;
        padding-left: 5px;
    }

    .input:focus {
        border-color: $c-teal;
        border: 2px solid $c-teal;
    }

    .input::placeholder {
        color: white;
        font-size: 1em;
    }


    .item-extra-margin {
        margin-top: 10px;
    }

    .item {

        .title {
            color: $c-orange;
        }

        .title-white {
            color: white;
        }

        .value {
            font-size: 0.9em;
            color: white;
        }
    }

    .link-color {
        color: $c-orange !important;
        cursor: pointer;
    }

    .email-color {
        color: white !important;
    }





    .neutral-color {
        cursor: pointer;
        color: $c-lightblue !important;
    }

    .neutral-color:hover {
        color: $c-teal-hover !important;
    }


}

.toggle-button {
    height: 44px;

    .switch input {
        display: none;
    }

    .switch {
        display: inline-block;
        width: 40px;
        /*=w*/
        height: 20px;
        /*=h*/
        margin: 4px;
        margin-top: 0px !important;
        transform: translateY(50%);
        position: relative;
    }

    .slider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // border-radius: 30px;
        box-shadow: 0 0 0 2px #777, 0 0 4px #777;
        cursor: pointer;
        border: 4px solid transparent;
        overflow: hidden;
        transition: 0.2s;
    }

    .slider:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #777;
        // border-radius: 30px;
        transform: translateX(-20px);
        /*translateX(-(w-h))*/
        transition: 0.2s;
    }

    input:checked+.slider:before {
        transform: translateX(20px);
        /*translateX(w-h)*/
        background-color: $c-lightblue;
    }

    input:checked+.slider {
        box-shadow: 0 0 0 2px $c-lightblue, 0 0 8px $c-lightblue;
    }



}

.debug-wrapper {
    height: 100%;
    margin-top: 10px;

    // margin-left: 10px;
    width: calc(100% - 40px);
    height: 87%;
    margin-left: 20px;
    // border: 1px solid #3D3D3D;
    // background: rgba(23, 26, 30, 0.9);
    margin-bottom: 20px;


    .logs-window {

        position: relative;
        width: calc(100% - 10px);
        height: 97%;
        font-family: system-ui;

        // border-radius: 20px;
        margin-top: 60px;
        font-size: 0.9em;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 3px;
        padding-left: 8px;
        z-index: 41;

        .line {
            padding: 0px 0px 0px 0px;
            font-size: 1em;
            /* margin-top: -3px; */
            /* border-top: 1px solid #80808024; */
            border-bottom: 1px solid #8080805e;
        }

        .error {
            color: $error-color;
            font-weight: bold !important;
        }
    }

    .logs-window-bg {

        position: absolute;
        width: calc(100% - 50px);
        height: 84.5%;

        border: 1px solid #3D3D3D;
        background: rgb(13, 15, 17);
        // border-radius: 20px;
        font-size: 0.7em;
        padding: 5px;
        opacity: 0.8;
        z-index: 40;
    }


    .input {
        box-sizing: border-box;

        color: white !important;

        position: fixed;
        top: 46px;
        z-index: 1000;
        width: 600px;
        height: 34px;
        left: 405px;
        background: rgba(21, 24, 28, 0.34);
        border: 1px solid rgba(216, 216, 216, 0.16);
    }

    .input::placeholder {
        color: grey;
        font-size: 1em;
        // 
    }

    .search-bar {
        background: url("../images/logging_icon.svg") no-repeat scroll 8px 8px;
        padding-left: 40px;
        padding-top: 5px;
        z-index: 2000;
    }

    .debug-button {
        position: absolute;
        width: 120px;
        height: 32px;
        left: 20px;
        top: 16px;
        text-align: center;

        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        color: #FFFFFF;

        background: $c-orange;
        border: 1px solid #EF7503;
        cursor: pointer;
    }



}

.logs-wrapper {
    width: 100%;
    height: 87%;
    // margin-left: 20px;
    border-radius: 20px;

    .logs-window {

        margin-left: 20px;
        position: relative;
        width: calc(100% - 40px);
        height: 97%;
        font-family: system-ui;
        margin-top: 00px;
        font-size: 0.9em;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 5px;
        border-radius: 0px;
        z-index: 41;

        .line {
            margin-top: -3px;
            padding: 0px 0px 0px 0px;
            font-size: 1em;
            border-bottom: 1px solid #8080805e;
        }

        .orange {
            color: $c-orange;
        }

        .time {
            color: rgb(160, 160, 160);
        }

        .error {
            color: $error-color;
            font-weight: bold;
        }
    }





}

@keyframes fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.screen-loader {
    background: black;
    margin-left: $sidebar-width;
    height: 100%;
    width: calc(100% - $sidebar-width);
    z-index: 1001;

    position: fixed;
    top: 20px;
    left: 0px;

    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 30px;


    .title {
        width: fit-content;
        font-size: 2em;
        width: 100%;
        min-width: 300px;
    }

    .subtitle {
        text-align: left;
        width: 50%;
        // text-align: center;
        // font-size: 1em;
        font-weight: 500;
        margin-top: 1%;

    }

    .line {
        border-left: 2px solid $c-orange;
        padding-left: 5px;
        font-size: 0.8em;
    }

    .scroll-frame {
        height: 400px;
        width: 100%;
        margin-top: 3%;
        overflow: hidden;

        .line {
            display: flex;

            .timestamp {}

            .error {
                color: $c-orange;
            }

            .seperator {
                color: $c-orange;
                margin-inline: 5px;
            }

            .data {}
        }

    }


}

.payment-wrapper {
    .secure {

        margin-top: 30px;
        width: 400px;
        margin-left: calc(50% - 200px);
    }

    .spinner {
        margin-top: 100px;
        margin-left: 45%;
        font-size: 1.1em;

    }

    .spinner-text {
        width: 100%;
        text-align: center;
    }

    .error {
        font-size: 1.2em;
        color: red;
    }

    .info {
        margin-top: 30px;
        width: 400px;
        margin-left: calc(50% - 200px);

        .sub {
            width: 100%;
            text-align: center;
        }

        .title {
            font-size: 2em;

            margin-bottom: 5px;
        }

        .price {
            width: 100%;
            // margin-bottom: 8px;
            text-align: center;
            font-size: 1.6em;

            color: $c-teal;
            // float: left;
        }

        .month {
            // float: left;
            margin-left: 10px;
            font-size: 0.8em;
            color: white;
        }

    }

    .form {

        margin-top: 20px;
        width: 400px;
        margin-left: calc(50% - 200px);
        height: 100%;

        .response-error {
            width: 100%;
            font-size: 1.2em;
            // text-align: center;
            color: $error-color;
            margin-bottom: 20px;

        }

        .card-logo {
            width: 100%;
            height: 35px;

            .visa {
                float: left;
                height: 30px;
                width: 30px;
                background-image: url('../images/card/visa.png') !important;
                background-size: contain;
            }

            .mc {
                margin-top: 5px;
                float: left;
                height: 23px;
                width: 30px;
                margin-left: 4px;
                background-image: url('../images/card/mc.svg') !important;
                background-size: contain;
            }

            .amx {
                float: left;
                height: 30px;
                width: 30px;
                background-image: url('../images/card/amx.png') !important;
                background-size: contain;
            }
        }

        .card {
            width: 300px;
            display: block;
            word-wrap: break-word;
            columns: 5;
            column-gap: 0.2em;
        }


        .cvc {

            margin-top: 10px;

            .input {
                width: 60px;
            }
        }

        .code {
            .title {
                margin-top: 5px;
                float: left;
                font-size: 1.3em;
                margin-right: 10px;
            }

            margin-top: 10px;
            // margin-left: 10px;

            .input {
                width: 200px;
            }
        }

        .error {
            border: 2px solid rgb(167, 0, 0) !important;
        }


        .date {
            margin-top: 10px;
            width: 100%;
            height: 30px;

            .seperator {
                float: left;
                font-size: 1.2em;
            }

            .m {
                float: left;
                width: 50px;
            }

            .y {
                float: left;
                margin-left: 10px;
                width: 50px;

            }
        }

        .email-input {
            border: none;
            background: none;
            color: white;
            font-size: 1em;
            // text-align: center;
            width: 100%;
            margin-top: 10px;

            margin-bottom: 3px;
        }

        .input {
            height: 30px;
            font-size: 1.2em;
            border: none;
            background: rgba(46, 46, 46, 0.795);
            // border-bottom: 2px solid white;
            cursor: text;
            padding-left: 5px;
            padding-top: 5px;
            // padding-bottom: 0px;
            color: white;
            border: 1px solid rgba(216, 216, 216, 0.16);
            // border-radius: 5px;

        }

        input::placeholder {
            color: rgb(211, 211, 211);
        }



        .terms {
            margin-top: 20px;

            a {
                color: $c-orange
            }
        }


        .discount {
            margin-top: 5px;
        }

        .now {
            margin-top: 20px;
            font-size: 1.2em;

            color: $c-orange;
            // margin-left: 10px;
        }

        .confirm {
            margin-top: 10px;
            height: 40px;
            width: 180px;
            background-color: $c-teal;
            border: none;
            // border-radius: 20px;
            cursor: pointer;
            color: white;
            font-size: 1.3em;

        }

        .confirm:hover {
            background-color: $c-teal;
            border: 4px solid white;
        }


    }

}

.support-wrapper {

    .social-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;

        .image-panel {
            // border: 1px solid white;
            cursor: pointer;
            width: 200px;
            min-width: 200px;
            height: 50px;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 2em;

            .text {
                text-decoration: none;
            }

            .text:hover {
                text-decoration: underline;
            }

            .copy {
                font-size: 0.5em;
                color: rgba(255, 255, 255, 0.562);
            }

            .copy:hover {
                text-decoration: underline;
            }


        }

        .email {
            color: $c-orange !important;
        }

        .discord {
            color: #7289da;
        }

        .reddit {
            color: #FF5700;
        }

        .slack {
            color: white;
        }

        .twitter {
            color: #1DA1F2;
        }

        .element {
            color: teal;
        }

        .telegram {
            color: #229ED9;
        }


    }



    .info {

        margin-top: 20px;
        // padding-top: 450px;
        width: 390px;
        height: 170px;
        background: $main-bg-color;

        .icon {
            width: 40px;
            height: 34px;
            background-size: cover;
            position: absolute;
            top: 35px;
            left: 30px;

            background-image: url('../images/help_icon.svg') !important;
            background-size: cover;
        }

        .title {
            position: absolute;
            width: 252px;
            height: 37.85px;
            left: 80px;
            top: 30px;

            font-size: 2em;
            color: #D2D2D2;
        }

        .text {
            position: absolute;
            width: 330.81px;
            height: 40px;
            left: 30px;
            top: 90px;
            font-size: 0.9em;
            color: #EDF3FF;
        }

        .emails {
            position: absolute;
            width: 232.73px;
            height: 50.79px;
            left: 30px;
            top: 150px;


            .email {

                position: absolute;
                width: 135.39px;
                height: 50.79px;
                left: 0px;
                top: 0px;
                align-items: center;
                color: $c-teal;
            }
        }

        .emails-2 {
            position: absolute;
            width: 232.73px;
            height: 50.79px;
            left: 30px;
            top: 180px;

            .label {
                position: absolute;
                width: 68.25px;
                height: 50.79px;
                left: 0px;
                top: 0px;
                color: $c-orange;

            }

            .email {

                position: absolute;
                width: 135.39px;
                height: 50.79px;
                left: 130px;
                top: 0px;
                align-items: center;
                color: $c-teal;
            }
        }
    }


}

.two-factor-wrapper {
    margin-top: 20px;

    .recovery-codes {
        display: flex;
        flex-direction: column;
        width: 400px;
        justify-content: center;
        text-align: center;
        margin-left: 20px;

        .title {
            color: $c-orange;
        }

        .codes {
            margin-top: 20px;
        }

        .notice {
            color: $error-color;
            margin-top: 20px;
        }
    }

    .form {
        margin-top: 20px !important;
        margin-left: 20px !important;
    }

    .qr-wrapper {
        margin-left: 20px !important;

        display: flex;
        flex-direction: row;
        align-items: center;

        .qr-code {
            padding: 20px;
            width: 260px;
            height: auto;
            background-color: white;
        }

        .text {
            text-align: left;
            margin-left: 20px;
            width: 300px;
            overflow-wrap: anywhere;
        }
    }


}

.device-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;

    // flex-wrap: wrap;
    // align-content: flex-start;
    .header {
        font-size: 1.2em !important;
        // background: $main-bg-color;
        border-bottom: $list-item-border;
        // margin-bottom: 10px;
    }

    .row:nth-child(2) {
        padding-top: 10px !important;
        height: 34px !important;
    }


    .row {
        cursor: pointer;
        font-size: 0.9em;
        // width: fit-content;
        // max-height: 100px;
        width: 90%;
        // justify-content: center;
        // align-items: center;

        display: flex;
        flex-flow: row nowrap;
        height: 30px !important;

        .item {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }

        .logout {
            font-size: 1.2em !important;
            color: $error-color
        }

        .logout:hover {
            color: $c-teal;
        }

        .name {
            color: $c-teal;
        }

        .date {}

        .current {
            color: $c-orange;
            margin-right: 5px;
        }
    }
}

.ap-form-wrapper {
    width: 750px;
    position: relative;
    margin-top: 50px;
    left: calc(50% - 420px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    justify-items: left;
    align-items: left;
    margin-bottom: 200px;


    .panel {

        border: 2px solid #3D3D3D;
        border-radius: 20px;
        background: #101116;
        width: 100%;
        height: fit-content;
        opacity: 0.8;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;

        .title {
            font-size: 1.4em;

            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }


        .save {
            padding-top: 4px;
            text-align: left;
            color: $c-teal;
            font-size: 1.4em;

            cursor: pointer;
            margin-top: -40px;
            margin-right: 8px;
            float: right;
        }

        .error {
            color: $log-error;
        }

        .seperator {
            margin-bottom: 10px;
            border-bottom: 1px solid white;
        }

        .inner-seperator {
            margin-bottom: 20px;
            margin-top: 20px;
            border-bottom: 1px solid white;
        }

        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-columns: 120px 20px 220px;


            .label {
                grid-column: 1;
                grid-row: 1;
                font-size: 1.1em;
                line-height: 2.5;
                color: $c-orange;

            }

            .toggle-button {
                margin-left: 20px;
            }

            .edit {
                grid-column: 2;
                grid-row: 1;
                background: url("../images/edit_icon.png") no-repeat;
                background-size: contain;

                height: 18px !important;
                width: 18px !important;

                margin-top: 16px;
            }

            .editable {
                border-bottom: 1px solid $c-teal !important;

                // color: $c-teal !important;

                font-size: 1em;
            }


            .input {
                grid-column: 3;
                grid-row: 1;
                color: white;
                width: auto;
                height: 34px;
                // background: rgba(21, 24, 28, 0.34);
                background: none;
                border: none;
                border-bottom: 1px solid rgba(216, 216, 216, 0.16);
                padding-top: 13px;
                font-size: 1em;
                // border-radius: 12px;
            }


            .select {
                .option {
                    background: black;
                    color: $c-teal;
                }

            }

            select.editable {
                padding-left: 5px;
                // outline: 3px solid red !important;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

        }

        .delete {
            padding-top: 4px;
            text-align: left;
            color: $c-red;
            font-size: 1.4em;

            cursor: pointer;
        }

        .add {
            padding-top: 4px;
            text-align: left;
            color: $c-teal;
            font-size: 2em;
            margin-top: -16px;

            cursor: pointer;
            margin-top: -50px;
            float: right;
        }

    }

    .info {
        grid-column: 1;
        grid-row: 1;
    }

    .routing {
        grid-column: 2;
        grid-row: 1;
    }

    .network {
        grid-column: 1;
        grid-row: 2;

    }

    .access {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;

        .row {
            grid-template-columns: repeat(8, auto);
            grid-template-columns: 50px 20px 240px 50px 80px 20px 230px 90px;

            .label {

                margin-top: 5px;
            }

            .label2 {
                grid-column: 5;
                // margin-left: 50px;
                margin-top: 5px;
            }

            .edit2 {
                grid-column: 6;
            }

            .input2 {
                grid-column: 7;
            }

            .delete {
                grid-column: 8;
                margin-top: 5px;
                margin-left: 20px;
            }

        }
    }

}

.custom-scrollbar::-webkit-scrollbar {
    // color: red;
    background-color: rgb(37, 37, 39);
    width: 10px;
    border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: $c-teal;
    border-radius: px;
    // border: 2px solid white;
}

.search::placeholder {
    color: white;
    font-size: 1em;
}

.search-wrapper {
    width: 250px;
    height: 44px;
    position: relative;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    margin-top: 5px;

    .icon {
        height: 30px !important;
        width: 30px !important;
        color: $c-teal;
        float: left;
    }

    .search {
        float: left;
        // background: url("../images/logging_icon.svg") no-repeat scroll 12px 12px;
        background: none;
        background-color: none;
        padding-left: 10px;
        padding-top: 12px;
        z-index: 2000;
        outline: none;
        border: none;
        color: white;
    }

}